@model IEnumerable<PlazoFijoSistem.Models.Plazos> 
 
@{ 
    ViewBag.Title = "Index"; 
} 
 
<h2>Index</h2> 
 
<a asp-action="Index">volver a buscar</a>
@*-------------------------------CodigoDeBusqueda--------------------------------*@
 
     @using (Html.BeginForm()){  
         
         <div>
            <p> Buscador por email de usuario: @Html.TextBox("email","") <br />   
               <input type="submit" value="Buscar" />
         </div>
         <div>
            <p> Buscador por nombre de banco: @Html.TextBox("banco","") <br />   
               <input type="submit" value="Buscar" />
         </div>
        } 
        


@*-------------------------------TerminaCodigoDeBusqueda--------------------------------*@

@if (Model != null)
{
    <div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Apellido)
        </dt>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco.RazonSocial)
        </dt>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias)
        </dt>
        
        @foreach (var item in Model)
        {
            <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Apellido)
        </dt>
       
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </dt>

        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Banco.RazonSocial)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Monto)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Dias)
        </dt>
        }
    </dl>
</div>
}
