
@model IEnumerable<PlazoFijoSistem.Models.Plazos>


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Apellido)
        </dt>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco.RazonSocial)
        </dt>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias)
        </dt>
        
        @foreach (var item in Model)
        {
            <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Apellido)
        </dt>
       
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </dt>

        <dt class = "col-sm-2">


            @Html.DisplayFor(modelItem => item.Banco.RazonSocial)


        </dt>

        <dt class = "col-sm-2">


            @Html.DisplayFor(modelItem => item.Monto)


        </dt>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Dias)

        </dt>
        }

       
        

    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
